html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #00dad0, #00b7d1, #0093cb, #006db9,
            #004698, #25378f, #392483, #470574, #480e8a, #4318a2, #3523bc, #002fd6);
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 70%;
    border-radius: 17px;
    backdrop-filter: blur(14px);
    background-color: rgb(10 7 7 / 20%);
}

.avatar-container {
    width: 130px;
    height: 130px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 40px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    color: white;
    margin-top: 40px;
}

p {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.first-paragraph {
    margin-top: 40px;
}

.uil {
    color: white;
    font-size: x-large;
}

.icons-container {
    margin-top: 60px;
    display: flex;
    gap: 13px;
}